<!DOCTYPE html>
<html lang="en">

<body class="container bg-slate-200">
    <div id="navbar"></div>
    <div class="container my-8">
        <h1 class="size-20 w-full text-4xl tracking-wide text-center underline uppercase font-sans">Administrar Usuarios</h1>
        <div id="userList" class="mt-5 flex flex-wrap justify-center"></div>
    </div>

    <script src="/js/adminUsers.js"></script>
    <script src="/js/navbar.js"></script>
</body>
</html>
