    <div class=" container items-center my-7">
        <h1 class="font-mono text-5xl font-semibold tracking-wide text-center text-red-900 uppercase my-3">Acceso Denegado</h1>
        <p class="font-mono text-2xl font-semibold tracking-wide ">Debes iniciar sesión para acceder a esta página.</p>
        <div class="my-7">
            <a href="/login-view" class="font-bold rounded text-white bg-red-600 py-2 px-4 text-3xl">Iniciar Sesión</a>
        </div>
        
    </div>
