<div class="container my-8">
  <h1 class="size-20 w-full text-4xl tracking-wide text-center uppercase font-sans">Recuperar Contraseña</h1>
  <div class="flex justify-center">
    <form class="flex flex-col w-3/5 p-10 bg-slate-900" action="/auth/forgot-password" method="post">
      {{#if message}}
        <p class="text-white mx-4 mb-4">{{message}}</p>
      {{/if}}
      <label class="text-white font-bold mx-4 mb-2" for="email">Correo electrónico: </label>
      <input class="mx-4 mb-4" type="email" name="email" id="email" required {{#if disableEmailInput}}disabled{{/if}}>
      <button class="mx-4 font-bold py-2 px-4 rounded text-white bg-red-600" type="submit" {{#if disableEmailInput}}disabled{{/if}}>Enviar</button>
    </form>
  </div>
</div>
