<div>
  <div id="navbar"></div>

  <div>
    <h1 class="text-6xl tracking-wide text-center underline uppercase font-sans my-5">Mi Carrito</h1>
    <div id ="bannerCompra"></div>
    <div id = "cartList" class="">

    </div>
  </div>
  

</div>

<script src="/js/profile.js"></script>
<script src="/js/navbar.js"></script>