{{!-- VA POR HTTP--}}
<div class="container my-8">
    <h1 class="  size-20 w-full text-6xl tracking-wide text-center underline uppercase font-sans">Detalles del Carrito</h1>
    <p>
        <strong>ID:</strong>{{cartId}}<br>
    </p>
    <div id="cartList" class="mt-5 flex flex-wrap justify-center" data-cart-id="{{ cartId }}"></div>

</div>

<script src="/js/cart.js"></script>