{{!-- VA POR HTTP--}}
<div class="container my-8">
    <h1 class="  size-20 w-full text-6xl tracking-wide text-center underline uppercase font-sans">Task 1 por http </h1>
    <h2 class="w-full text-4xl tracking-wide text-center  font-sans  underline">Lista de Productos</h2>
    <div id="productList" class="mt-5 flex flex-wrap justify-center">

    </div>
</div>

<script src="/js/index.js"></script>