<div class="container my-8">
  <h1>LOGIN</h1>
  <form action="/auth/login" method="post">
    <label for="">Username: </label>
    <input type="text" name="username">
    <label for="">Password: </label>
    <input type='password' name="password">
    <input type="submit" value="Enviar">
  </form>
  <div>
    <h2>Todavia NO tenes una cuenta?👇</h2>
    <a href="/register-view"><h1>REGISTRATE</h1></a>
  </div>
  
</div>