{{!-- VA POR HTTP--}}
<div class="container my-8">
    <h1 class="  size-20 w-full text-6xl tracking-wide text-center underline uppercase font-sans">View Products </h1>
    <h2 class="w-full text-4xl tracking-wide text-center  font-sans  underline">Lista de Productos</h2>
    <div id = "pages" class="mt-5 flex flex-wrap justify-center"></div>
    <div id="productList" class="mt-5 flex flex-wrap justify-center"></div>

    <!-- Botones de paginación -->
    <div id ="pagination" class="flex justify-center mt-5">
     </div>
</div>

<script src="/js/index.js"></script>